
<html lang="en">
  <link rel="stylesheet" href="/css/main.css">
<head>
  <title>Mongo File Uploads</title>
  
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4">Mongo File Uploads</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" name="image" id="file" class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
          </div>
          <input type="submit" value="Submit" class="btn btn-secondary btn-block">
        </form>
      </div>
    </div>
  </div>

</body>
</html>


