
<html lang="en">
  <link rel="stylesheet" href="/css/main.css">
<head>
  <title>Mongo File Uploads</title>
  
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4 ">Mongo File Uploads</h1>

        <form action ='/articles' method = 'POST'>
          <%- include('../partials/form.fields.ejs') %>

        </form>


      </div>
    </div>
  </div>
</body>
</html>


