

<link rel="stylesheet" href="/css/globals.css">

<header class= "navbar navbar-expand-lg navbar-light " id = "nav">
  <div class="collapse navbar-collapse">
    <ul class="nav col-12 justify-content-center" >
      <li><a href="/" class="nav-link px-3 link-secondary text-white" >Home</a></li>
      <li><a href="/articles/new" class="nav-link px-3 link-secondary text-white ">Post</a></li>
    </ul>
  </div>
    
</header>



